
/* !!!! HEX GRID BACKGROUND !!!! */

.hex-container {
    background: #0e1b1f;
    width: 100%; /* Full width of the viewport */
    min-height: 100vh;
    height: 100%;
    position: relative; /* Relative positioning for absolute children */
    overflow: hidden; /* This fixes issue of mouse adding to bottom of screen */
}

.hex-grid {
    position: absolute;
    top: 0;
    left: 0;
    background: url('/assets/svg/grid.svg') repeat;
    width: 100%;
    min-height: 100%;
    background-size: 500px;
    z-index: 1;
}

.hex-light {
    position: absolute;
    width: 15em;
    height: 15em;
    filter: blur(50px);
    background: linear-gradient(90deg, rgba(2, 177, 154, 0.5) 0%, rgba(2, 157, 177, 0.5) 100%);
    z-index: 0; /* Ensure it is above other elements */
    pointer-events: none; /* Prevent the light from capturing mouse events */
    border-radius: 50%;
}

/* Main container within the hexgrid container that holds 'everything' */
.content-container {
    z-index: 2;
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}



/* !!!! MAIN HEADING STYLES !!!! */

.header-container {
    z-index: 2; /* Higher z-index to ensure it appears over the hex grid */
    height: fit-content;
    display: flex;
    flex-direction: column;
}

.greeting {
    align-self: center;
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    gap: 10vw;
    height: fit-content;
    flex-wrap: wrap;
    padding-inline: 1rem;
}

.greeting-text {
    display: flex;
    flex-direction: column;
    width: 35%;
    align-items: flex-start;
    padding: 0;
}

.greeting a {
    color: rgb(156, 201, 214);
}

.profile-pic {
    object-fit: cover;
    width: 350px;
    max-width: 50%;
    height:fit-content;
    border-radius: 25px;
    box-shadow: 7px 7px 15px rgba(2, 157, 177, 0.5);
}
/* END MAIN HEADING STYLES */

.footer {
    z-index: 2;
    margin-top: auto;
    align-self: center;
}


/* !!!! PROJECTS STYLES !!!! */

.projects-container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    align-items: center;
    width: 100%;
    max-width: 90%;
    margin-inline: auto;
}

.project {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 20px;
    background-color: rgba(35, 61, 65, 0.2);
    border-radius: 20px;
    border: 2px solid rgba(1, 129, 146, 0.5);
    box-shadow: 0px 0px 20px 5px rgba(2, 157, 177, 0.4);
    width: fit-content;
    justify-content: center;
    max-width: 90vw;
}

.projects-heading {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.projects-container-title {
    margin-bottom: 0;
}

.project-text {
    flex: 1 1 auto;
    display: flex;
    flex-direction: column;
    width: 45%;
}

.project-title {
    align-self: center;
    margin-bottom: 1rem;
}

.project-desc {
    font-size: 18px;
    font-weight: 500;
    width: 100%;
    margin-bottom: 10px;
}

.project-img {
    width: 700px;
    max-width: 50%;
    min-width: 500px;
    height: auto;
    object-fit: contain;
    height: fit-content;
    border-radius: 5px;
}

.project-technologies {
    display: flex;
    align-self: center;
    gap: 2rem;
    margin-top: auto;
}

.project-technologies img {
    width: 42px;
}

@media (max-width: 678px) {
    .greeting-text {
        width: 85%;
    }
}